

// Fuentes
$fuente_principal: "Karla", sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$greenLighter: hsl(148, 38%, 91%);
$greenMedium: hsl(169, 82%, 27%);
$red: hsl(0, 66%, 54%);

// Neutros
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$greyMedium : hsl(186, 15%, 59%);
$greyDarker : hsl(187, 24%, 22%);

$separacion: 5rem;

// Fuentes

$delgada: 300;
$regular : 400;
$semiRegular : 500;
$bold: 700;
$superBlack: 900